<main class="form-signup w-100 m-auto text-center">
  <div id="error-div"></div>
    <form [formGroup]="profileForm">
      
      <h1 class="h3 mb-4 fw-normal"><b>Profil Adatok</b></h1>

      <div class="form-floating">
        <input type="name" class="form-control" placeholder="Vezetéknév" id="surname" name="surname" formControlName="surname">
        <label for="surname">Vezetéknév</label>
      </div>
      <div class="form-floating">
        <input type="lastname" class="form-control" placeholder="Keresztnév" id="lastname" name="lastname" formControlName="lastname">
        <label for="latname">Keresztnév</label>
      </div>
      <div class="form-floating">
        <input type="country" class="form-control" placeholder="Ország" id="country" name="country" formControlName="country">
        <label for="country">Ország</label>
      </div>
      <div class="form-floating">
        <input type="city" class="form-control" placeholder="Város" id="city" name="city" formControlName="city">
        <label for="city">Város</label>
      </div>
      <div class="form-floating">
        <input type="address" class="form-control" placeholder="Cím" id="address" name="address" formControlName="address">
        <label for="address">Cím</label>
      </div>

      <button class="w-100 btn btn-lg btn-primary" type="submit">Mentés</button>
      <a id="copyright" href="http://github.com/Roleeygit/Tojgli" target="_blank">
          <p class="mt-5 mb-3 text-muted">&copy; 2022–2023 EggShop</p>
      </a>
    </form>
  </main>
