:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

textarea:focus,
input[type="name"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
.uneditable-input:focus {   
  border-color: rgb(255, 162, 0);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 4px rgb(255, 162, 0);
  outline: 0 none;
}

.form-signup {
  max-width: 400px;
  padding: 35px;
  border-radius: 3%;
}

.form-signup .form-floating:focus-within {
  z-index: 2;
}

.form-signup input[type="name"] {
  margin-bottom: 15px;
  border-bottom-right-radius: 5;
  border-bottom-left-radius: 5;
}

.form-signup input[type="email"] {
  margin-bottom: 15px;
  border-bottom-right-radius: 5;
  border-bottom-left-radius: 5;
  border-top-left-radius: 5;
  border-top-right-radius: 5;
}

.form-signup input[type="password"] {
  margin-bottom: 125px;
  border-top-left-radius: 5;
  border-top-right-radius: 5;
  border-bottom-left-radius: 5;
  border-bottom-right-radius: 5;
}

#terms {
  margin-top: -3px;
}

#repassword {
  margin-top: -111px;
  border-top-left-radius: 5;
  border-top-right-radius: 5;
  margin-bottom: 15px;
}

main {
  width: 100%;
  background-color: #f5f5f5;
}

#logo {
  position: absolute;
  top: -130px;
  left: 50%;
  transform: translateX(-50%);
}

#copyright {
  text-decoration: none;
  margin-top: -100px;
}

.btn-primary {
  background-color: rgb(255, 162, 0);
  border-color: rgb(255, 255, 255);
}

.btn-primary:hover {
  background-color: rgb(255, 162, 0);
}

.btn-primary:focus {
  background-color: rgb(255, 222, 0);
}

#terms {
  position: relative;
  left: 1px;
  font-size: 10px;
  text-align: left;
}

main.form-signup {
  border: 1px solid rgb(225, 220, 220);
}

#error-div {
  text-decoration-color: rgb(255, 0, 0);
  position: right;
}

.alert {
  background-color: red;
  color: white;
}

.my-4 {
  color: gray
}

#accountExist {
  text-align: left;
}

#clickLogin {
  text-decoration-color: rgb(255, 162, 0);
  color: rgb(255, 162, 0);
}