.btn-primary:focus {
    background-color: rgb(255, 222, 0);
}

.btn-primary:hover {
    background-color: rgb(255, 222, 0);
    border-color: rgb(255, 222, 0);
}

.btn-primary {     
    background-color: rgb(255, 162, 0);     
    border-color: rgb(0, 0, 0);
    margin-left: 30px;
    margin-bottom: 25px;
}

span .text-primary {
    color: rgb(255, 162, 0);
}