<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">EggShop Admin</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder="Search" aria-label="Search">
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <a class="nav-link px-3" href="#">Kijelentkezés</a>
    </div>
  </div>
</header>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-body-tertiary sidebar collapse">
      <div class="position-sticky pt-3 sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/admin">
                <i class="bi bi-house-door"></i>
              Kezdőlap
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin">
              <i class="bi bi-person-fill"></i>
              Felhasználók
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin">
              <i class="bi bi-box-fill"></i>
              Termékek
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="users" class="align-text-bottom"></span>
              Customers
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="bar-chart-2" class="align-text-bottom"></span>
              Reports
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="layers" class="align-text-bottom"></span>
              Integrations
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-body-secondary text-uppercase">
          <span>Saved reports</span>
          <a class="link-secondary" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle" class="align-text-bottom"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text" class="align-text-bottom"></span>
              Current month
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text" class="align-text-bottom"></span>
              Last quarter
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text" class="align-text-bottom"></span>
              Social engagement
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text" class="align-text-bottom"></span>
              Year-end sale
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Regisztrált Felhasználók</h1>
      </div>

      <table class="table table-striped table-sm" >
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Név</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
          </tr>
        </tbody>
      </table>

      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Termékek</h1>
      </div>

      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">
        Hozzáad
      </button>

      <!-- Add Modal -->
      <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="addModalLabel">Termék hozzáadása</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
    
             
              <form [formGroup]="productForm">
                <div class="mb-3">
                  <label for="inputName" class="form-label">Név</label>
                  <input type="text" class="form-control" id="InputName"
                  formControlName="inputName">              
                </div>
                <div class="mb-3">
                  <label for="inputPrice" class="form-label">Ár</label>
                  <input type="text" class="form-control" id="inputPrice"
                  formControlName="inputPrice">              
                </div>
                <div class="mb-3">
                  <label for="inputWeight" class="form-label">Súly</label>
                  <input type="text" class="form-control" id="inputWeight"
                  formControlName="inputWeight">              
                </div>
                <!-- <div class="mb-3">
                  <label for="inputImage" class="form-label">Kép</label>
                  <input type="file" class="form-control" id="inputImage" 
                  formControlName="inputImage">
                </div> -->
                <div class="mb-3">
                  <label for="inputDescription" class="form-label">Leírás</label>
                  <input type="text" class="form-control" id="inputDescription"
                  formControlName="inputDescription">              
                </div>
                <div class="mb-3">
                    <label for="inputCategory" class="form-label">Kategória</label>
                    <input type="text" class="form-control" id="inputCategory"
                    formControlName="inputCategory">              
                  </div>
              </form>
    
    
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Bezárás</button>
              <button type="button" class="btn btn-primary" (click)="onClick()">Mentés</button>
            </div>
          </div>
        </div>
      </div>

      

      <table class="table table-striped table-sm" >
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Név</th>
            <th scope="col">Ár</th>
            <th scope="col">Súly</th>
            <th scope="col">Leírás</th>
            <th scope="col">Kategória Id</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let prod of products">
            <td>{{prod.id}}</td>
            <td>{{prod.name}}</td>
            <td>{{prod.price}}</td>
            <td>{{prod.weight}}</td>
            <td>{{prod.description}}</td>
            <td>{{prod.category_id}}</td>
            <td>
              <button class="btn btn-info"
              (click)="editProduct(prod)"
              data-bs-toggle="modal" 
              data-bs-target="#modifyModal">
              <i class="bi bi-pencil-square"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="modal fade" id="modifyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Termék módosítása</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
    
             
              <form [formGroup]="editForm">
                <div class="mb-3">
                  <label for="inputId" class="form-label">Id</label>
                  <input type="text" class="form-control" id="editInputId"
                  formControlName="editInputId" readonly>
                </div>
                <div class="mb-3">
                  <label for="inputName" class="form-label">Név</label>
                  <input type="text" class="form-control" id="editInputName"
                  formControlName="editInputName">              
                </div>
                <div class="mb-3">
                  <label for="inputPrice" class="form-label">Ár</label>
                  <input type="text" class="form-control" id="editInputPrice"
                  formControlName="editInputPrice">              
                </div>
                <div class="mb-3">
                  <label for="inputWeight" class="form-label">Súly</label>
                  <input type="text" class="form-control" id="editInputWeight"
                  formControlName="editInputWeight">              
                </div>
                <div class="mb-3">
                  <label for="inputDescription" class="form-label">Ár</label>
                  <input type="text" class="form-control" id="editInputDescription"
                  formControlName="editInputDescription">              
                </div>
                <div class="mb-3">
                  <label for="inputCategory" class="form-label">Kategória</label>
                  <input type="text" class="form-control" id="editInputCategory"
                  formControlName="editInputCategory">              
                </div>
              </form>
    
    
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" 
              data-bs-dismiss="modal">Bezárás</button>
              <button type="button" class="btn btn-primary"
              data-bs-dismiss="modal"
              (click)="updateProduct()">Mentés</button>
            </div>
          </div>
        </div>
      </div>
    </main>

    